<h1>Transactions</h1>

<!-- Toggle button Display 'ALL' or 'MONTH' -->

<!-- ==================================== FORMS -->
<form *ngIf="transaction" (ngSubmit)="onSubmit()" #transactionForm="ngForm">
    <div class="formAdd-form">
        <!-- Input HIDDEN for id -->
        <div>
            <mat-form-field appearance="outline" class="invisible">
                <input matInput name="idTransaction" value="" [(ngModel)]="transaction.id" #id="ngModel">
            </mat-form-field>
        </div>
        <!-- Input HIDDEN for idUser -->
        <div>
            <mat-form-field appearance="outline" class="invisible">
                <input matInput name="idUserTransaction" value="" [(ngModel)]="transaction.idUser" #idUser="ngModel">
            </mat-form-field>
        </div>

        <!-- Input for idBase -->
        <div>
            <mat-form-field class="idForm" appearance="outline">
                <mat-label>ID</mat-label>
                <input matInput #idBaseTransaction name="idBaseTransaction" value=" {{this.lastId}}" [(ngModel)]="transaction.idBase" #idBase="ngModel" required disabled>
                <mat-icon matSuffix (click)="idBaseTransaction.value = lastId.toString();">autorenew</mat-icon>
            </mat-form-field>
        </div>


        <!-- Input for year https://material.angular.io/components/datepicker/overview#watching-the-views-for-changes-on-selected-years-and-months -->


        <!-- Select for month -->
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Mois</mat-label>
                <mat-select name="monthTransaction" [(ngModel)]="transaction.month" #month="ngModel" required>
                    <mat-option *ngFor="let month of enumMonth" [value]="month">
                        {{month}}
                    </mat-option>
                </mat-select>
                <!-- Message d'erreur -->
                <mat-error *ngIf="required.invalid">{{getErrorMessageRequired()}}</mat-error>
            </mat-form-field>
        </div>
        <!-- Datepicker for date -->

        <!-- Input for amount -->
        <div>
            <mat-form-field appearance="outline" floatLabel="always">
                <mat-label>Montant</mat-label>
                <input matInput type="number" name="amountTransaction" [(ngModel)]="transaction.amount" #amount="ngModel" style="text-align: right;" required>
                <span matPrefix>€</span>
                <!-- Message d'erreur -->
                <mat-error *ngIf=" required.invalid">{{getErrorMessageRequired()}}</mat-error>
            </mat-form-field>
        </div>

        <!-- Select for section -->
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Catégorie</mat-label>
                <mat-select name="sTransaction" [(ngModel)]="filtreSection" #section="ngModel" required>
                    <mat-option *ngFor="let section of sections" [value]="section">
                        {{section.name}}
                    </mat-option>
                </mat-select>
                <!-- Message d'erreur -->
                <mat-error *ngIf="required.invalid">{{getErrorMessageRequired()}}</mat-error>
            </mat-form-field>
        </div>

        <!-- Select for undersection -->
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Sous-Catégorie</mat-label>
                <mat-select name="usTransaction" [(ngModel)]="transaction.undersection" #undersection="ngModel" required>
                    <mat-option *ngFor="let undersection of undersections" [value]="undersection">
                        {{undersection.name}}
                    </mat-option>
                </mat-select>
                <!-- Message d'erreur -->
                <mat-error *ngIf="required.invalid">{{getErrorMessageRequired()}}</mat-error>
            </mat-form-field>
        </div>
        <!-- Select for account -->
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Compte</mat-label>
                <mat-select name="baTransaction" [(ngModel)]="transaction.account" #account="ngModel" required>
                    <mat-option *ngFor="let ba of bankAccounts" [value]="ba">
                        {{ba.name}}
                    </mat-option>
                </mat-select>
                <!-- Message d'erreur -->
                <mat-error *ngIf="required.invalid">{{getErrorMessageRequired()}}</mat-error>
            </mat-form-field>
        </div>

        <!-- Button for Sumbit-->
        <div>
            <!-- Bouton "Enregistrer" -->
            <button mat-raised-button type="submit" [disabled]="!transactionForm.form.valid">Enregistrer</button>
        </div>
    </div>
</form>
<!-- ==================================== TABLE -->

<!-- Columns idBase -->

<!-- Columns date -->

<!-- Columns amount -->

<!-- Columns undersection -->

<!-- Columns account -->

<!-- Columns edit -->

<!-- Columns remove -->