<!-- Formulaire d'ajout de nouvelles Catégoriess -->
<form *ngIf="category" (ngSubmit)="onSubmit()" #categoryForm="ngForm">
    <div class="formAdd-form">
        <div>
            <!-- Form id-->
            <mat-form-field appearance="outline" class="invisible">
                <!-- Input -->
                <input matInput name="idCategory" value="" [(ngModel)]="category.id" #id="ngModel">
            </mat-form-field>
        </div>
        <div>
            <!-- Form input "ID" -->
            <mat-form-field class="idForm" appearance="outline">
                <mat-label>ID</mat-label>
                <!-- Input -->
                <input matInput #idBaseCategory name="idBaseCategory" placeholder="" value=" {{this.lastId }}" [(ngModel)]="category.idBase" #idBase="ngModel" required disabled>
                <mat-icon matSuffix (click)="idBaseCategory.value = lastId.toString();">autorenew</mat-icon>
            </mat-form-field>
        </div>
        <div>
            <!-- Form input "Libelle" -->
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Libellé</mat-label>
                <!-- Input -->
                <input matInput name="nameCategory" placeholder="Ex. Habitat" value="" [(ngModel)]="category.name" #name="ngModel" required>
                <!-- Message d'erreur -->
                <mat-error *ngIf="required.invalid">{{getErrorMessageRequired()}}</mat-error>
            </mat-form-field>
        </div>
        <div>
            <!-- Form combobox "Type de Catégories"-->
            <mat-form-field appearance="outline">
                <mat-label>Type de catégories</mat-label>
                <!-- Combobox -->
                <mat-select name="typeCategory" [(ngModel)]="category.type" #type="ngModel" required>
                    <mat-option *ngFor="let type of enumTypeList" [value]="type">
                        {{type}}
                    </mat-option>
                </mat-select>
                <!-- Message d'erreur -->
                <mat-error *ngIf="required.invalid">{{getErrorMessageRequired()}}</mat-error>
            </mat-form-field>
        </div>
        <div>
            <!-- Form idUser-->
            <mat-form-field appearance="outline" class="invisible">
                <!-- Input -->
                <input matInput name="idUserCategory" value="" [(ngModel)]="category.idUser" #idUser="ngModel">
            </mat-form-field>
        </div>
        <div>
            <!-- Bouton "Enregistrer" -->
            <button mat-raised-button type="submit" [disabled]="!categoryForm.form.valid">Enregistrer</button>
        </div>
    </div>
</form>