<h1>Vue d'ensemble [Work In Progress]</h1>

<!-- Input d'année -->
<div class="overview-input">
    <mat-form-field appearance="fill" class="input-fill-150">
        <mat-label>Année</mat-label>
        <input matInput name="overviewYear" value="{{ this.year }}">
    </mat-form-field>

    <!-- Combobox des comptes bancaires -->
    <mat-form-field appearance="fill" class="input-fill-150">
        <mat-label>Compte</mat-label>
        <mat-select name="baOverview" [(ngModel)]="defaultBankAccount" required>
            <mat-option *ngFor="let bankAccount of bankAccounts" [value]="bankAccount.name">{{bankAccount.name}}</mat-option>
        </mat-select>
        <!-- Message d'erreur -->
        <mat-error *ngIf="required.invalid">{{getErrorMessageRequired()}}</mat-error>
    </mat-form-field>
</div>

<!-- Triple radio bouton 1 / 3 / 6 mois -->
<div>
    <mat-radio-group aria-label="Choisir une temporalité">
        <mat-radio-button class="overview-radio" value="1">Mensuel</mat-radio-button>
        <mat-radio-button class="overview-radio" value="2">Trimestriel</mat-radio-button>
        <mat-radio-button class="overview-radio" value="3">Semestriel</mat-radio-button>
    </mat-radio-group>
</div>


<!-- Tableau de vue d'ensemble 
    https://stackblitz.com/edit/angular-nested-mat-table?file=app%2Ftable-expandable-rows-example.ts 
-->
<!--     https://stackblitz.com/edit/ngx-material-nested-tables?file=src%2Fapp%2Fuser%2Fcontainers%2Fuser.component.html  
<app-family-table [dataSource]="families" [displayedColumns]="displayedColumns" [iconKeyReference]="'category'" [renderTemplate]="'relative'"></app-family-table>
-->

<!-- Essai numéro 3 -->
<table mat-table matSort class="dataTable dataTable-padding mat-elevation-z8" [dataSource]="dataSource" multiTemplateDataRows>

    <!-- Famille -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
        <td mat-cell class="overview-cell-family" *matCellDef="let element"> {{element.name}} </td>
        <td mat-footer-cell *matFooterCellDef> Total </td>
    </ng-container>

    <ng-container matColumnDef="cat">
        <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
        <td mat-cell class="overview-cell-family" *matCellDef="let element"></td>
        <td mat-footer-cell class="overview-cell-family" *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="undercat">
        <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
        <td mat-cell class="overview-cell-family" *matCellDef="let element"></td>
        <td mat-footer-cell class="overview-cell-family" *matFooterCellDef></td>
    </ng-container>


    <ng-container matColumnDef="choosenAmount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Temporalité </th>
        <td mat-cell class="overview-cell-family" *matCellDef=" let element"> {{element.choosenAmount | number:'0.2' }} € </td>
        <td mat-footer-cell class="overview-cell-family" *matFooterCellDef> 10</td>
    </ng-container>

    <ng-container matColumnDef="annualAmount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Montant Annuel </th>
        <td mat-cell class="overview-cell-family" *matCellDef=" let element"> {{element.annualAmount | number:'0.2' }} € </td>
        <td mat-footer-cell class="overview-cell-family" *matFooterCellDef> 20</td>
    </ng-container>

    <ng-container matColumnDef="categoriesDetail">
        <td mat-cell class="overview-cell-table" *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">

            <div *ngIf="element.category?.length">


                <!-- Catégorie -->
                <table #innerTables mat-table class="dataTable" [dataSource]=" element.category" matSort multiTemplateDataRows>

                    <ng-container matColumnDef="name">
                        <td mat-cell class="overview-cell-category overview-cell-category-arrow" *matCellDef="let element">
                            <!--<mat-icon>keyboard_arrow_right</mat-icon>-->
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="cat">
                        <td mat-cell class="overview-cell-category" *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="undercat">
                        <td mat-cell class="overview-cell-category" *matCellDef="let element"></td>
                    </ng-container>


                    <ng-container matColumnDef="choosenAmount">
                        <td mat-cell class="overview-cell-category overview-cell-category-amount" *matCellDef=" let element"> {{element.choosenAmount | number:'0.2' }} € </td>
                    </ng-container>

                    <ng-container matColumnDef="annualAmount">
                        <td mat-cell class="overview-cell-category overview-cell-category-amount" *matCellDef=" let element"> {{element.annualAmount | number:'0.2' }} € </td>
                    </ng-container>


                    <ng-container matColumnDef="undercategoriesDetail">
                        <td mat-cell class="overview-cell-table" *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">

                            <div *ngIf="element.undercategory?.length">

                                <!-- Sous catégorie -->
                                <table #innerTables mat-table class="dataTable" [dataSource]=" element.undercategory" matSort>

                                    <ng-container matColumnDef="name">
                                        <td mat-cell class="overview-cell-undercategory" *matCellDef="let element"></td>
                                    </ng-container>

                                    <ng-container matColumnDef="cat">
                                        <td mat-cell class="overview-cell-undercategory" *matCellDef="let element"></td>
                                    </ng-container>

                                    <ng-container matColumnDef="undercat">
                                        <td mat-cell class="overview-cell-undercategory" *matCellDef="let element"> {{element.name}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="choosenAmount">
                                        <td mat-cell class="overview-cell-undercategory overview-cell-undercategory-amount" *matCellDef=" let element"> {{element.choosenAmount | number:'0.2' }} €
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="annualAmount">
                                        <td mat-cell class="overview-cell-undercategory overview-cell-undercategory-amount" *matCellDef=" let element"> {{element.annualAmount | number:'0.2' }} € </td>
                                    </ng-container>

                                    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;" class="overview-row-undercategory"></tr>
                                </table>

                            </div>

                        </td>
                    </ng-container>
                    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;" class="overview-row-category"></tr>
                    <tr mat-row *matRowDef="let undercategories; columns: ['undercategoriesDetail']" class="overview-row-category"></tr>
                </table>
            </div>
        </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="overview-row-family"></tr>
    <tr mat-row *matRowDef="let categories; columns: ['categoriesDetail']" class="overview-row-category"></tr>
    <tr mat-footer-row *matFooterRowDef="columnsToDisplay" class="overview-row-category"></tr>
</table>