  :host {
  	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  	font-size: 14px;
  	color: #333;
  	box-sizing: border-box;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
  }

  .topbar img {
  	margin: 0 16px;
  }

  .topbar-menu {
  	height: 100%;
  }

  .topbar {
  	position: absolute;
  	top: 0;
  	left: 0;
  	right: 0;
  	height: 60px;
  	display: flex;
  	align-items: center;
  	background-color: #1976d2;
  	color: white;
  	text-align: center;
  	font-weight: 600;
  }
  
  .menu {
  	padding: 5%;
  }
