<mat-drawer-container class="topbar-menu" autosize>
	<mat-drawer #drawer class="menu" mode="side">
		<p>Menu1</p>
		<p>Menu2</p>
		<p>Menu3</p>
	</mat-drawer>

	<div class="topbar" role="banner">
		<a (click)="drawer.toggle()">
			<img width="40" height="40" title="Menu Logo" alt="Menu Logo" src="assets/img/menu_icon.png" />
		</a>
		<img width="40" height="40" title="Budgetiz' Logo" alt="Budgetiz' Logo" src="assets/img/business-color_money.png" />
		<span>Budgetiz'</span>
	</div>
</mat-drawer-container>