<div class="login-page">
    <div class="content-login">
        <button mat-raised-button (click)="googleLogin()">
            <img src="assets/img/google_icon.png" width="20" height="20" title="Google-Signin" alt="Google-Signin" style="margin-right:5px">
            Connexion avec Google
        </button>
        <br /><br />
        <p class="separator"> ou </p>

        <form *ngIf="login" (ngSubmit)="onSubmit()" #loginForm="ngForm">
            <!-- Form input "ID" -->
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput type="email" name="email" placeholder="Email" value="" [(ngModel)]="login.userEmail" #userEmail="ngModel" required>
                <!-- Message d'erreur -->
                <mat-error *ngIf="required.invalid">{{getErrorMessageRequired()}}</mat-error>
            </mat-form-field>
            <br />
            <mat-form-field appearance="outline">
                <mat-label>Mot de passe</mat-label>
                <input matInput type="password" name="email" placeholder="Mot de passe" value="" [(ngModel)]="login.userPassword" #userPassword="ngModel" required>
                <!-- Message d'erreur -->
                <mat-error *ngIf="required.invalid">{{getErrorMessageRequired()}}</mat-error>
            </mat-form-field>
            <div class="login-button">
                <button mat-raised-button class="login-button" type="submit" [disabled]="!loginForm.form.valid">Connexion</button>
            </div>
            <p class="login-create-link">
                Pas encore de compte ? <br />
                <a href="budgetiz/signup">Créer un compte</a>
            </p>
            <p class="login-create-link">
                <a href="budgetiz/resetpassword">Mot de passe oublié ?</a>
            </p>
        </form>
    </div>
</div>