<!-- Formulaire d'ajout de nouvelles Sous-Catégoriess -->
<form *ngIf="undercategory" (ngSubmit)="onSubmit()" #undercategoryForm="ngForm">
    <div class="formAdd-form">
        <div>
            <!-- Form id-->
            <mat-form-field appearance="outline" class="invisible">
                <!-- Input -->
                <input matInput name="idUndersection" value="" [(ngModel)]="undercategory.id" #idUser="ngModel">
            </mat-form-field>
        </div>
        <div>
            <!-- Form input "ID" -->
            <mat-form-field class="idForm" appearance="outline">
                <mat-label>ID</mat-label>
                <!-- Input -->
                <input matInput #idBaseUndersection name="idBaseUndersection" placeholder="" value=" {{this.lastId }}" [(ngModel)]="undercategory.idBase" #id="ngModel" required disabled>
                <mat-icon matSuffix (click)="idBaseUndersection.value = lastId.toString();">autorenew</mat-icon>
            </mat-form-field>
        </div>
        <div>
            <!-- Form input "Libelle" -->
            <mat-form-field appearance="outline">
                <mat-label>Libellé</mat-label>
                <!-- Input -->
                <input matInput name="nameUndersection" placeholder="Ex. Facture EDF" value="" [(ngModel)]="undercategory.name" #name="ngModel" required>
                <!-- Message d'erreur -->
                <mat-error *ngIf="required.invalid">{{getErrorMessageRequired()}}</mat-error>
            </mat-form-field>
        </div>
        <div>
            <!-- Form combobox "Type de Catégories"-->
            <mat-form-field appearance="outline">
                <mat-label>Catégories mère</mat-label>
                <mat-select name="sectionUndersection" [(ngModel)]="undercategory.category" #category="ngModel" required>
                    <mat-option *ngFor="let category of categories" [value]="category">
                        {{category.name}}
                    </mat-option>
                </mat-select>
                <!-- Message d'erreur -->
                <mat-error *ngIf="required.invalid">{{getErrorMessageRequired()}}</mat-error>
            </mat-form-field>
        </div>
        <div>
            <!-- Form idUser-->
            <mat-form-field appearance="outline" class="invisible">
                <!-- Input -->
                <input matInput name="idUserUndersection" value="" [(ngModel)]="undercategory.idUser" #idUser="ngModel">
            </mat-form-field>
        </div>
        <div>
            <!-- Bouton "Enregistrer" -->
            <button mat-raised-button type="submit" [disabled]="!undercategoryForm.form.valid">Enregistrer</button>
        </div>
    </div>
</form>