<div>
    <mat-table [dataSource]="dataSource" multiTemplateDataRows>

        <!-- COLUMNS AND ROWS-->
        <ng-container *ngFor="let key of displayedColumns" [matColumnDef]="key">
            <mat-header-cell *matHeaderCellDef>{{ key.includes('Icon') ? '' : key }}</mat-header-cell>

            <mat-cell *matCellDef="let element; let i = dataIndex">

                <span *ngIf="!key.includes('Icon'); else icon">{{ element.category[key] }}</span>

                <ng-template #icon>
                    <mat-icon *ngIf="element.category[iconKeyReference] && key === 'expandIcon'" [class.active]="element.data[referenceId] === expandedId"
                        (click)="toggleExpandableSymbol(element.data[referenceId])">play_arrow</mat-icon>
                </ng-template>

            </mat-cell>
        </ng-container>

        <!-- EXPANDABLE ROW -->
        <!--
        <ng-container matColumnDef="expandedDetail">
            <mat-cell *matCellDef="let element" [@expandableRow]="element.data[referenceId] === expandedId ? 'expanded' : 'collapsed'">

                <div *ngIf="element.data[referenceId] === expandedId" class="width-100" [ngSwitch]="renderTemplate">

                    <app-category-table *ngSwitchCase="'phone'" [categories]="element.kids.has_categories.records"></app-category-table>

                    <app-undercategory-table *ngSwitchCase="'relative'" [undercategories]="element.kids.has_undercategories.records"></app-undercategory-table>

                </div>

            </mat-cell>
        </ng-container>
    -->
        <!-- -->
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

        <!--<mat-row class="expandable-row" *matRowDef="let row; columns: ['expandedDetail'];"></mat-row>-->

    </mat-table>
</div>