<!-- Formulaire d'ajout de nouvelles Rubriques -->
<form *ngIf="section" (ngSubmit)="onSubmit()" #sectionForm="ngForm">
    <div class="formAdd-form">
        <div>
            <!-- Form input "ID" -->
            <mat-form-field class="example-full-width" appearance="outline" >
                <mat-label>ID</mat-label>
                <!-- Input -->
                <input matInput name="idSection" placeholder="" value="{{ lastId }}" [(ngModel)]="section.id" #id="ngModel" required disabled>
            </mat-form-field>
        </div>
        <div>
            <!-- Form input "Libelle" -->
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Libellé</mat-label>
                <!-- Input -->
                <input matInput name="nameSection" placeholder="Ex. Habitat" value="" [(ngModel)]="section.name"  #name="ngModel" required>
                <!-- Message d'erreur -->
                <mat-error *ngIf="required.invalid">{{getErrorMessageRequired()}}</mat-error>
            </mat-form-field>
        </div>
        <div>
            <!-- Form combobox "Type de Rubrique"-->
            <mat-form-field appearance="outline">
                <mat-label>Type de rubrique</mat-label>
                <!-- Combobox -->
                <mat-select name="typeSection" [(ngModel)]="section.type" #type="ngModel" required>
                    <mat-option *ngFor="let type of enumTypeList" [value]="type">
                        {{type}}
                    </mat-option>
                </mat-select>
                <!-- Message d'erreur -->
                <mat-error *ngIf="required.invalid">{{getErrorMessageRequired()}}</mat-error>
            </mat-form-field>
        </div>
        <div>
            <!-- Bouton "Enregistrer" --> 
            <button mat-raised-button type="submit" [disabled]="!sectionForm.form.valid">Enregistrer</button>
        </div>
    </div>
</form>