
<!-- Banner -->
<div class="banner">
  <img width="67" height="50" title="Budgetiz' Logo" alt="Budgetiz' Logo" src="assets/img/logo_icon.png" />
  <br />
</div>

<ul class="navigation">
  <li><a class="nav-left" [routerLink]="['/impots']" routerLinkActive="link-active">Résumé</a></li>
  <li><a [routerLink]="['/saving']" routerLinkActive="link-active">Épargne</a></li>
  <li>
    <a class="nav-home" [routerLink]="['']" routerLinkActive="link-active" [routerLinkActiveOptions]="{exact: true}">
      <img src="assets/img/home_icon.png" width="20" height="20" title="Home" alt="Home">
    </a>
  </li>
  <li><a [routerLink]="['/label']" routerLinkActive="link-active">Label</a></li>
  <li><a class="nav-right" [routerLink]="['/data']" routerLinkActive="link-active">Données</a></li>
</ul>