<form #loginForm="ngForm">

    <!-- Form input "Login" -->
    <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Login</mat-label>
        <!-- Input -->
        <input matInput id=login name="login" placeholder="Login" value="" [(ngModel)]="login" required>
    </mat-form-field>

    <!-- Form input "Password" -->
    <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Mot de passe</mat-label>
        <!-- Input -->
        <input matInput id=password name="password" placeholder="*******" value="" [(ngModel)]="password" required>
    </mat-form-field>
    <div>
        <!-- Bouton "Enregistrer" -->
        <button mat-raised-button *ngIf="!isLoggedIn" (click)=logIn()>Connexion</button>
        <button mat-raised-button *ngIf="isLoggedIn"  (click)=logOut()>Deconnexion</button>
    </div>
</form>