<!-- Formulaire d'ajout de nouvelles Rubriques -->
<form *ngIf="bankAccount" (ngSubmit)="onSubmit()" #bankAccountForm="ngForm">
    <div class="formAdd-form">
        <div>
            <!-- Form input "ID" -->
            <mat-form-field class="idForm" appearance="outline">
                <mat-label>ID</mat-label>
                <!-- Input -->
                <input matInput #idBankAccount name="idBankAccount" placeholder="" value=" {{this.lastId }}"
                    [(ngModel)]="bankAccount.id" #id="ngModel" required disabled>
                <mat-icon matSuffix (click)="idBankAccount.value = lastId.toString();">autorenew</mat-icon>
            </mat-form-field>
        </div>
        <div>
            <!-- Form input "Libelle" -->
            <mat-form-field appearance="outline">
                <mat-label>Libellé</mat-label>
                <!-- Input -->
                <input matInput name="nameBankAccount" placeholder="Ex. Habitat" value="" [(ngModel)]="bankAccount.name"
                    #name="ngModel" required>
                <!-- Message d'erreur -->
                <mat-error *ngIf="required.invalid">{{getErrorMessageRequired()}}</mat-error>
            </mat-form-field>
        </div>
        <div>
            <!-- Form combobox "Type de Rubrique"-->
            <mat-form-field appearance="outline">
                <mat-label>Type de rubrique</mat-label>
                <!-- Combobox -->
                <mat-select name="typeBankAccount" [(ngModel)]="bankAccount.type" #type="ngModel" required>
                    <mat-option *ngFor="let type of enumTypeList" [value]="type">
                        {{type}}
                    </mat-option>
                </mat-select>
                <!-- Message d'erreur -->
                <mat-error *ngIf="required.invalid">{{getErrorMessageRequired()}}</mat-error>
            </mat-form-field>
        </div>
        <div>
            <!-- Form idUser-->
            <mat-form-field appearance="outline" class="invisible">
                <!-- Input -->
                <input matInput name="idUserBankAccount" value="" [(ngModel)]="bankAccount.idUser" #idUser="ngModel">
            </mat-form-field>
        </div>
        <div>
            <!-- BUTTON-->
            <button mat-raised-button type="submit" [disabled]="!bankAccountForm.form.valid">Enregistrer</button>
        </div>
    </div>
</form>